# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/

# Web
web/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
